table {
  margin: 20px 0 20px -360px;
  border-collapse: separate;
  border-spacing: 15px;
}

td {
  text-align: center;
}

.animal {
  width: 160px;
  height: 160px;
  object-fit: cover; /* Ensures images fill the box and maintain aspect ratio */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.small-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.medium-image {
  width: 140px;
  height: 140px;
}

.large-image {
  width: 160px;
  height: 160px;
}

.animal:hover {
  transform: scale(1.1);
}

/* Modal background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  position: relative;
  width: 85vmin;
  height: 85vmin;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}


/* Enlarge the image */
.enlarged-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;

}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #45a049;
}
